<h1 class="mt-4">Produtos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ produto.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucess == true">
                    Produto salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div *ngIf="!produto.imagem && produto.id">
                        <input type="file" accept="image/png, image/jpeg" name="imagem"
                            (change)="uploadImagem($event, produto)" />
                    </div>
                    <div *ngIf="produto.imagem">
                        <img width="300" height="250" src="data:image/png;base64,{{ produto.imagem }}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" *ngIf="produto.id">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="produto.id" name="id" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Preço:</label>
                    <input type="text" class="form-control" [(ngModel)]="produto.preco" name="preco" />
                </div>
            </div>
        </div>
        <div class="row" *ngIf="produto.id">
            <div class="col-md-3">
                <label>Ingrediente:</label>
                <select ngModel class="form-select form-control" aria-label="Default select example"
                    (change)="teste(o.value)" #o>
                    <option *ngFor="let ingrediente of ingredientes" [value]="ingrediente.id"> {{ ingrediente.nome }}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Quantidade:</label>
                    <input type="text" class="form-control" [(ngModel)]="componenete.quantidade" name="quantidade" />
                </div>
            </div>
        </div>
        <div class="row" *ngIf="produto.id">
            <div class="col-md-3">
                <div class="form-group">
                    <button type="button" (click)="adicionaIngrediente(produto, componenete)" class="btn btn-success">
                        <i class="fa fa-save"></i> Adicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="produto.id">
            <div class="col-md-6">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let componente of componentes">
                            <td>{{ componente.id }}</td>
                            <td>{{ componente.quantidade }}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deletarIngrediente(componente)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!produto.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="produto.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>